*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --maincolor:#29335C;
    --maincolorlight:#6c7cbf;
    --seondarycolor:#DB2B39;
    --text-color:#fff;
}

.header{
display: flex;
align-items: center;
background-color:var(--maincolor);
color: var(--text-color);
justify-content: space-around;
height: 80px;
padding: 0 2rem;

}

nav a{
    margin: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: var(--text-color);
}

nav a:hover{
    color: var(--seondarycolor);
}

.header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 20px;
    outline: none;
    color: var(--text-color);
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width:900px){
    .header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    .header nav{
        position: fixed;
        /* left: 0; */
        top: 0;
        right: 0%;
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2.5rem;
        font-size: 17px;
        transition: 1s ease-in-out;
        transform: translateY(-100vh);
        background-color: var(--maincolorlight);
    }

    .header .responsive-nav{
        transform: none;
    }
  .header .nav-close{
  position: absolute;
  top: 2rem;
  right: 2rem;
  }
}